    body { background-color: #000; color: #fff; }

    .bg-secondary { background-color: #111 !important; }
    .bg-dark { background-color: #000 !important; }

    .border-warning { border-color: #ff9800 !important; }
    .text-warning { color: #ff9800 !important; }

    .btn-warning {
      background-color: #ff9800 !important;
      border-color: #ff9800 !important;
      color: #000 !important;
    }

    .form-control {
      background-color: #000 !important;
      border-color: #ff9800 !important;
      color: #fff !important;
    }

    .list-group-item {
      background-color: #000;
      border-color: #ff9800;
      color: #fff;
    }